[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "==0.3.2"

[dev-packages]
bandit = "==1.7.0"
black = "==21.6b0"
flake8 = "==3.9.2"
mypy = "==0.910"
pytest = "==6.2.4"
pytest-cov = "==2.12.1"
vulture = "==2.3"

[scripts]
passgen = "python -m app"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
