[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"

[dev-packages]
bandit = "*"
black = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
vulture = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
